<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="common/fragments.html :: header"></head>
<body class="bg-light">
    <nav th:replace="common/fragments.html :: main-navigation"></nav>

    <div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}">
        동아리 개설 및 참여를 위해서는 반드시
        <a href="#" th:href="@{/check-email-auth}" class="alert-link">이메일 인증</a>을 완료해야만 합니다.
    </div>

    <div class="container">
        <div class="py-5 text-center">
            <h2>루나 하우스</h2>
        </div>

        <footer th:replace="common/fragments.html :: footer"></footer>
    </div>
</body>
</html>